<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @project.description %>
</p>

<p>
  <strong>Tasks incomplete:</strong>
  <%= @project.incomplete_tasks.count %>
    <% @project.incomplete_tasks.order('priority DESC').group_by(&:priority).each do |key, priority_group| %>
    <h3>Priority level <%= key %></h3>
    <ul>
      <% priority_group.each do |task| %>
        <li>
          <strong><%= task.name %></strong>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Tasks completed</strong>
  <ul>
  <% @project.tasks.finished.each do |task| %>
    <li>
      <h3><%= task.name %></h3>
      <span><%= task.finished_at.strftime("finished on %e %A, %Y at %H:%M") %></span>
    </li>
  <% end %>
  </ul>
</p>

<%= form_with method: :get, url: send_summary_project_path(@project) do |form| %>
  <div class="field">
    <%= form.label "Send PDF to:" %>
    <%= form.text_field :email %>
    <%= form.submit :send %>
  </div>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Download PDF', project_path(@project, format: :pdf) %> |
<%= link_to 'Add Task', add_task_to_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
